.partner-entry {
  margin: 1% 0 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

/* #main-table {
  border-bottom: 1.5em solid #2479b5;
  border-radius: 5px;
} */

/* tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
} */

.table > tbody > tr > td {
  line-height: 40px;
}

tbody > tr:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}

.input-field {
  line-height: 30px;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input,
.modal-select {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 60%;
  border-bottom: 1px solid #2479b5;
}

.modal-select {
  width: fit-content;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}
