/*  Local CSS rules for the page */

body {
  background-color: #f5f5f5;
  height: 100vh;
}
.hero {
  margin: 0%;
  border-radius: 0px;
  height: auto;
}
/* Header | Login box
=========================== */

header,
.top-section {
  padding: 0.4% 0%;
}
#loginform {
  padding: 3% 0% 0% 8%;
}
tbody > tr:hover {
  background-color: inherit;
}
.form-group:first-of-type {
  padding-left: 3%;
  font-size: 1.2em;
}
.forgot {
  padding-left: 28%;
  padding-top: 2%;
}
.top-section,
.top-section .col-md-4,
.top-section .col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}
.submit-btn {
  float: right;
}

/* LAC ASISTS info
=========================== */

.welcome-info {
  padding: 0.5% 0%;
  color: white;
  background-color: #a6a6a6;
  background-image: url(../../assets/SUNY-Seal.png);
  background-position: 15% 32%;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 1.3em;
}
.glyphicon-registration-mark {
  font-weight: 200;
  font-size: 0.7em;
  vertical-align: text-top;
}
.small-text,
.regular {
  padding-left: 10%;
}
.regular {
  font-weight: 300;
  font-size: 0.9em;
  padding-right: 6%;
}

/* Link panels
=========================== */

.link-panel {
  background-color: #f5f5f5;
  padding: 1% 1%;
  height: fit-content;
  max-height: 100%;
}
.heading-bar {
  color: #fff;
  background: #694e77;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.float-right {
  float: right;
}
.quick-links {
  display: block;
  font-size: 1.05em;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  line-height: 2.1em;
}
.long-text {
  line-height: 1.2;
  padding-top: 1%;
}
.quick-links a {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(205, 205, 205);
}
.quick-links a:link,
.quick-links a:visited,
.quick-links a:hover,
.quick-links a:active {
  text-decoration: none;
  color: #1d6294;
}
#myModalTextBox {
  font-size: 1.2em;
  padding-left: 2%;
}
.quick-links li:hover,
.quick-links a:active {
  background-color: #d3e4f0;
}

/* Footer
 =========================== */

.footer-logos {
  border-top: 2px solid #a6a6a6;
  padding: 0.5% 0%;
  background-color: #f5f5f5;
  height: fit-content;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
footer .row .col-md-2 {
  padding-left: 0px;
}
