.hero {
  background-color: #f0f0f5;
  margin: 2% auto;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 2em 0;
}

body {
  background-color: #f0f0f5;
}

.footer-logos {
  border-top: 2px solid #a6a6a6;
  padding: 0.5% 0% 0.5% 6%;
}
.logo {
  height: inherit;
}
.logo img {
  margin-left: 5%;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.separation {
  border-bottom: 2px solid #d3e4f0;
  margin: 3% 0;
}

.input-field > input,
.input-field > select {
  border-bottom: 1px solid #2479b5;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}
