.hero {
  background-color: #f0f0f5;
  margin: 2% auto;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 2em 0;
}

body {
  background-color: #f0f0f5;
}

.welcome-info {
  padding: 1% 0%;
  color: white;
  background-color: #a6a6a6;
  background-image: url(../../assets/SUNY-Seal.png);
  background-position: 15% 32%;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 1.1em;
}

.glyphicon-registration-mark {
  font-weight: 400;
  font-size: 0.6em;
  vertical-align: text-top;
}

.small-text,
.regular {
  padding-left: 10%;
}

.regular {
  font-weight: 400;
  padding-right: 6%;
}

.footer-logos {
  border-top: 2px solid #a6a6a6;
  padding: 0.5% 0% 0.5% 7%;
}
.logo {
  height: inherit;
}
.logo img {
  margin: 0% 5%;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.separation {
  border-bottom: 2px solid #d3e4f0;
  margin: 3% 0;
}

.form-group {
  margin-bottom: 0;
}
