/* Specific CSS rules */
/* ================================== */

/* Main */
.hero {
  width: 80%;
  padding: 0% 0.5%;
  margin-top: 1%;
  margin-left: calc((17% / 2) + 3%);
}

.sub-header {
  line-height: 30px;
  padding-left: 5px;
  font-size: 1.1em;
  font-weight: 600;
  border-top: 2px solid #fff;
}

.sub-header-title {
  text-align: right;
  line-height: 34px;
  padding-right: 1%;
  color: #fff;
  margin-bottom: 1%;
}

.page-title {
  line-height: 2em;
  font-size: 1.3em;
  font-weight: 700;
  padding-left: 1%;
  margin-bottom: 0.5%;
  text-align: center;
}

.children-header {
  background-color: #2479b5;
  text-align: center;
  font-size: 0.9em;
}

#yes-no-select {
  width: 9%;
}
.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

.col-sm-9 {
  padding-left: 0px;
}
.form-style {
  margin-bottom: 1.5vh;
}

.input-field > input,
.input-field > select {
  background-color: inherit;
}
.input-field > .small-input {
  width: 30%;
}

.input-field > .medium-input {
  width: 52%;
}

#address {
  width: 70%;
}

/* Duplicates table */
/* ============================ */
th {
  background-color: #2479b5;
}

/* Children table */
/* ============================ */
.children-table > tbody > tr > td {
  text-align: right;
}

.children-table > tbody > tr:hover {
  background-color: #f5f5f5;
}

/* Save button*/
/* ============================ */
#save-button {
  margin: 1vh 0;
  font-size: 1.1em;
  font-weight: 700;
}

.button-container .sub-header-title {
  margin-bottom: 0%;
}

.button-container {
  margin-top: 3%;
}
