.hero {
  background-color: #f0f0f5;
  margin: 2% auto;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 2em 0;
}

tbody {
  background-color: #f0f0f5;
}

.quarter-bloc {
  padding: 0 2%;
}

#top-bloc,
#bottom-bloc {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.separation {
  border-bottom: 2px solid #d3e4f0;
  margin: 3% 0;
}
.row-label {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 45px;
}

.row-data {
  border-bottom: 1px solid #2479b5;
}

#top-bloc:hover,
#bottom-bloc:hover {
  background-color: #d3e4f0;
}

label {
  width: 25%;
  font-size: 1.1em;
}

.input-field > input,
.input-field > select {
  border-bottom: 1px solid #2479b5;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

/* Top nav bar  */
/* =========================== */

.top-nav {
  margin: 2% 0%;
  background-color: #f0f0f5;
}

.dropdown-user {
  margin-top: 0.7%;
  font-size: 1.2em;
}

.hamburger-label {
  margin-left: 5%;
}

/* Main text */
.main-text {
  border: 3px solid #2479b5;
}
.main-text p {
  font-size: 1.6em;
}

/* Left side nav bar  */
/* =========================== */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 3%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2479b5;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d3e4f0;
  display: block;
  transition: 0.2s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f0e2d5;
}

/* Position and style the close button (top right corner) */
.sidenav .close-btn {
  position: absolute;
  top: 0;
  color: #dd5814;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.small-label {
  color: #d3e4f0;
  font-size: 1.5em;
  margin-top: 0.5%;
}
.menu-top {
  margin-bottom: 1%;
  border-bottom: 2px solid #d3e4f0;
  padding: 0% 0% 5% 1%;
}
