/* =================================== */
/* Styling for local elements */
/* =================================== */

.hero {
  margin: 1% 6%;
}

.dashboard-bg {
  background-color: #c9bbc1;
}

.anchor-bloc {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  padding-top: 3%;
}

#top-bloc,
#middle-bloc,
#bottom-bloc {
  height: 15em;
  width: 100%;
  font-weight: 500;
}

.landing-title {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5% 0% 0.5% 1%;
  margin-top: 1%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.large-tile {
  width: 100%;
  height: 12em;
  border-radius: 15px;
}

.large-tile > a {
  color: #333;
  font-size: 1.6em;
  text-decoration: none;
}

.small-tile {
  width: 11em;
  height: 9em;
  border-radius: 15px;
  background-color: #d3e4f0;
}

.small-tile > a {
  color: #333;
  font-size: 1.4em;
  text-decoration: none;
  background-color: inherit;
}

.tile-header,
.tile-details {
  width: 100%;
}

.tile-header {
  font-weight: 600;
  padding: 3% 0% 0% 3%;
  height: 40%;
}

.tile-details {
  font-size: 2.5em;
  font-weight: 800;
  height: 60%;
}

.tile-details-small {
  font-weight: 700;
  height: 60%;
}

.anchor-bloc button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
}

.table > tbody > tr > td {
  line-height: 1.1em;
  background-color: #d3e4f0;
  font-size: 0.7em;
  text-align: left;
  border-top: none;
  padding: 0em 0em 0em 0.5em;
}

.table > tbody > tr > td:last-of-type {
  font-weight: 700;
}

.table > tbody > tr > td:first-of-type {
  width: 40%;
}

.detail-table {
  padding-left: 1%;
}
