/*  Local CSS rules for the page */

.hero {
  margin: 1% 6%;
}

.dashboard-bg {
  background-color: #bfbfbf;
}
.anchor-bloc {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}
#top-bloc,
#bottom-bloc {
  height: 15em;
  width: 100%;
  font-weight: 500;
}

.landing-title {
  font-size: 1.5em;
  font-weight: 600;
  padding: 2% 0% 2% 1%;
  margin-top: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.single-tile {
  width: 13em;
  height: 13em;
  border-radius: 15px;
}

.single-tile > a {
  color: #333;
  font-size: 1.65em;
  text-decoration: none;
}

.tile-header,
.tile-details {
  width: 100%;
  height: 50%;
}

.tile-header {
  text-align: left;
  font-weight: 600;
  padding: 3% 0% 0% 3%;
  height: 40%;
}

.tile-details {
  font-size: 2.5em;
  font-weight: 800;
  height: 60%;
}

.tile-details-small {
  font-size: 1.1em;
  font-weight: 800;
  height: 60%;
}
