/* =============================== */
/* Specific CSS rules              */
/* =============================== */

/* Sub Nav Bar                     */
/* =============================== */
#sub-nav a {
  font-size: 0.7em;
  line-height: 2em;
}

/* Main display                     */
/* =============================== */
.student-display {
  text-align: initial;
  max-width: 83%;
  background-color: #f0f0f5;
  font-size: 0.8em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
}
.name,
.long-id {
  font-size: 1.3em;
}
.long-id {
  text-align: right;
}
section:not(.student-info) {
  margin-top: 1%;
}
.student-info {
  height: 2.5em;
  padding-top: 0.3em;
}
.sub-header {
  line-height: 30px;
  padding-left: 5px;
  font-size: 1em;
  font-weight: 600;
  border-top: 2px solid #fff;
}

.sub-header-title {
  text-align: right;
  padding-right: 1%;
  color: #fff;
  margin-bottom: 1%;
}

.input-field > input {
  font-size: 1.1em;
  color: rgb(115, 115, 115);
  width: 100%;
  border-bottom: none;
}
.input-field > select {
  width: 100%;
  border-bottom: none;
}
.form-group {
  line-height: 1.7vh;
  background-color: inherit;
}

.form:not(#edit-form):hover {
  background-color: #d3e4f0;
}

/* Tables */
.table > thead > tr > th {
  color: #2479b5;
  font-weight: 600;
  font-size: 0.75em;
}
.table > tbody > tr > td {
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1.3em;
  border-bottom: solid 1px #dddddd;
}
