/* =============================== */
/* Specific CSS rules  */
/* =============================== */

/* Search bar */
/* =============================== */
.student-search {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;

  padding: 1% 0 1% 0;
  width: 80%;
  border-radius: 5px;
  font-size: 1.1em;
}

#search-input {
  margin-left: 3%;
  width: 60%;
}

.search-title {
  font-size: 0.8em;
  text-align: left;
  padding: 0% 0% 1% 1%;
}
/* Sub Nav Bar */
/* =============================== */
#sub-nav a {
  font-size: 0.7em;
  line-height: 2em;
}

/* Summary display */
/* =============================== */
.student-display {
  text-align: initial;
  max-width: 85%;
  /* background-color: #f0f0f5; */
  font-size: 0.8em;
}

.page-title {
  line-height: 2.3em;
  font-size: 1.4em;
  font-weight: 700;
  padding-left: 1%;
  margin: 3% 0% 1% 0%;
  background-color: #d3e4f0;
  border-radius: 0.8em;
  border: 0.15em solid #2479b5;
  color: #333;
}
.title-text:last-of-type {
  text-align: right;
}

.info-box {
  background-color: #f5f5f5;
  border: 0.25em solid #2479b5;
  padding: 1% 3%;
  border-radius: 1em;
  line-height: 1.8em;
  margin-bottom: 2%;
}

.info-box:hover {
  background-color: #d3e4f0;
  cursor: pointer;
}

.info-box > .table > tbody > tr {
  background-color: inherit;
}

.no-data {
  text-align: center;
}

.rubrique,
.box-title {
  font-size: 0.8em;
  font-weight: 500;
}

.box-title {
  text-align: right;
  border-bottom: 1px solid #694e77;
  margin-bottom: 1%;
  color: #694e77;
}

/* Tables */
/* =============================== */

.table > thead > tr > th {
  color: #2479b5;
  font-weight: 600;
  font-size: 0.75em;
}

.table:not(.employment-table) > thead > tr > th:last-of-type {
  max-width: 3vw;
}

.table > tbody > tr > td {
  font-weight: 600;
  font-size: 0.7em;
  line-height: 1.3em;
}

.table:not(.employment-table) > tbody > tr > td:last-of-type {
  text-align: right;
}

.enrollments > .table > tbody > tr:last-of-type > td {
  border-top: #2479b5 1px solid;
}

.table > tbody > tr:hover {
  background-color: #f5f5f5;
}

.assessments > .table > tbody > tr > td:nth-child(4) {
  text-align: right;
}

.total-hours {
  text-align: center;
  font-size: 0.8em;
}
