body {
  background-color: #f0e2d5;
}

.dark-blue-bg {
  background-color: #1d6294;
}

.hero {
  margin: 0.5% 3%;
  padding: 0 0 1% 0;
  border-width: 6px 3px;
}

.partner-entry {
  margin: 1% 0 0 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-bottom: 8px solid #f0e2d5;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

.new-record {
  background-color: #b3f1cc;
}

#new-partner > .form-control {
  color: #2479b5;
  font-size: 1.2em;
  padding: 0.5%;
}

#new-partner {
  margin-left: 3%;
}

:required::placeholder,
.delete-msg {
  color: rgb(197, 65, 65);
  text-align: left;
}

#submit-btn {
  margin-left: 2%;
}

tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

.table > tbody > tr > td {
  line-height: 40px;
}

tbody > tr:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}

.table > tbody > tr > .cell-data {
  line-height: 25px;
}

.county {
  max-width: 80px;
  text-align: center;
  font-size: 14px;
}

.small-cell {
  max-width: 80px;
}

.input-field {
  line-height: 30px;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 60%;
  border-bottom: 1px solid #2479b5;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}
