body {
  background-color: #f0e2d5;
}

.dark-blue-bg {
  background-color: #1d6294;
}

.hero {
  padding: 0 0 1% 0;
  border-width: 6px 3px;
}

.outcome-entry {
  margin: 1% 0 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

.new-record {
  background-color: #b3f1cc;
}

#new-outcome > .form-control {
  font-size: 1.3em;
  padding: 0.5%;
  line-height: 1.7em;
}

#new-outcome {
  margin-left: 3%;
}

:required::placeholder,
.form-control:required,
.delete-msg {
  color: rgb(197, 65, 65);
  text-align: left;
  font-weight: 700;
}

#OutcomeSortOrder-view > option {
  color: #283838;
}

#submit-btn {
  margin: 0 1% 0 2%;
}

.data-view {
  border-radius: 5px;
  padding-bottom: 2%;
}

tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

.table > tbody > tr > td {
  line-height: 40px;
}

.inside-value {
  line-height: 40px;
  font-size: 1.1em;
  font-weight: 500;
}

.inside-value:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}

.cell-data {
  line-height: 25px;
  font-size: 1.4em;
  border-right: 3px solid #ddd;
}

.input-field {
  line-height: 35px;
}

.input-field > label {
  width: 20%;
  font-size: 1.2em;
}

.input-field > input {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 50%;
  border-bottom: 1px solid #2479b5;
}

.modal-select,
#new-select {
  font-size: 1.3em;
  line-height: 50px;
  font-weight: 600;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #2479b5;
}

#new-outcome > input {
  width: 50%;
  line-height: 50px;
}
.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}

.delete-msg {
  width: fit-content;
  border-bottom: 2px solid rgb(197, 65, 65);
}
