.outcome-entry {
  margin: 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

#new-entry #Description {
  width: 60%;
}

#main-table {
  border-bottom: 0;
}

.data-view {
  border-radius: 5px;
}

/* tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
} */

.outcome-view:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}

.input-field {
  line-height: 2.5em;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input,
.modal-select {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 50%;
  border-bottom: 1px solid #2479b5;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}

#view-bloc {
  background-color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  text-indent: 4px;
  line-height: 2em;
  border-bottom: 1.5em solid #2479b5;
}
.card {
  margin: 0;
  background-color: #f5f5f5;
  font-size: 1.2em;
  line-height: 2.7em;
  border-bottom: 2px solid #2479b5;
}

.description-view {
  font-size: 1.2em;
  font-weight: 400;
}

.outcome-view {
  text-indent: 1em;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.outcome-view:last-child {
  border-bottom: none;
}
