* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
}

.blue-light-text {
  color: #d3e4f0;
}

.blue-text {
  color: #2479b5;
}

.dark-blue-text {
  color: #1d6294;
}

.red-text {
  color: #c54141;
}

.dark-text {
  color: #333333;
  font-size: 1.3em;
  font-weight: 700;
}

.blue-light-bg {
  background-color: #d3e4f0;
}

.blue-bg {
  background-color: #2479b5;
}

.dark-blue-bg {
  background-color: #1d6294;
}

.yellow-bg {
  background-color: #f7e095;
}

#main-logo:hover {
  cursor: pointer;
}

#parentMenu1 > li {
  margin: 10px 10px 20px 10px;
  font-size: 1.6em;
}

#parentMenu1 .dropdown {
  width: 18%;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #3f8fc7;
}

.navbar {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar #main-logo {
  margin-top: 1%;
}

.caret {
  border-top: 10px solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

#nav-icon .dropdown-menu {
  background-color: #d3e3ef;
  font-size: 1.6em;
  font-weight: 600;
  min-width: 190px;
  text-align: center;
  margin: 5px 0 0 0;
}

#nav-icon {
  width: 45px;
  height: 30px;
  position: relative;
  margin: 2% 0 0 2%;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #d3e4f0;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 14px;
}

#nav-icon span:nth-child(4) {
  top: 28px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.user-info {
  font-size: 1.2em;
  text-align: right;
  color: #fff;
  padding-top: 20px;
}

.dropdown-menu,
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover {
  background-color: #d3e4f0;
  color: #3f8fc7;
  font-size: 18px;
}

.dropdown-menu > li > a:hover {
  border-bottom: #3f8fc7 2px solid;
}

.dropdown-menu > li > a > .caret:hover {
  transform: rotate(-90deg);
}

.dropdown .open {
  background-color: #d3e4f0;
  color: #3f8fc7;
}

.dropdown-menu .divider {
  background-color: #bfd3e2;
}

/* Back to Top Button */

#btn-top,
#btn-save,
#btn-cancel {
  display: block;
  padding: 0.5%;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  border-radius: 4px;
  margin: 0.5%;
  position: fixed;
  bottom: 1%;
  right: 0.5%;
  transition: background-color 0.3s;
  z-index: 1000;
}

#btn-top {
  background-color: #ff9800;
}

#btn-save {
  bottom: 100px;
  background-color: #3f8fc7;
}

#btn-cancel {
  bottom: 180px;
  background-color: #555;
}

#btn-top:hover {
  cursor: pointer;
  background-color: #333;
}

#btn-save:hover,
#btn-cancel:hover {
  cursor: pointer;
  background-color: grey;
}
#btn-top:active {
  background-color: #555;
}

.close {
  color: red;
  font-size: 3em;
}

.tooltip > .tooltip-inner {
  background-color: #f7e095;
  opacity: 0.8;
  color: #283838;
  border: 1px solid #faa61f;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 600;
}
