/* =============================== */
/* Specific CSS rules              */
/* =============================== */

/* Sub Nav Bar                     */
/* =============================== */
#sub-nav a {
  font-size: 0.7em;
  line-height: 2em;
}

/* Main display                     */
/* =============================== */
.student-display {
  text-align: initial;
  max-width: 83%;
  background-color: #f0f0f5;
  font-size: 0.8em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  border-bottom: 1.2em solid #2479b5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.name,
.dob {
  font-size: 1.3em;
}
.dob {
  text-align: right;
}
section:not("student-info") {
  margin-top: 0.1%;
}
.student-info {
  height: 2.8em;
  padding-top: 0.4em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 2px;
}
.sub-header {
  line-height: 30px;
  padding-left: 5px;
  font-size: 1em;
  font-weight: 600;
}
.sub-header:hover {
  cursor: pointer;
}
.sub-header-title {
  text-align: right;
  padding-right: 1%;
  margin-bottom: 1px;
}
/* Tables */
.table > thead > tr > th {
  color: #2479b5;
  font-weight: 600;
  font-size: 0.9em;
}
.tablescroll {
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-height 200ms;
}
.visible {
  max-height: 30em;
}
.invisible {
  max-height: 0em;
}
.editable:hover {
  background-color: #d3e4f0;
  cursor: pointer;
}
.not-editable:hover {
  background-color: inherit;
}
