body {
  background-color: #f0e2d5;
}

.hero {
  margin: 1% 6%;
  padding: 0;
  z-index: -500;
}

.record-entry {
  margin: 1% 0 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

#view-bloc {
  padding: 0 0 1% 0;
  border-radius: 5px;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

#new-entry > .form-control {
  font-size: 1.1em;
  padding: 0.5%;
  font-weight: 600;
  /* margin-right: 0.3%;
  margin-top: 0.3%; */
  margin: 0.2% 0.2%;
  height: 2.5em;
  width: 18%;
}

/* #State-view {
  margin-left: -5px;
  border-color: red;
} */

option {
  color: #333;
}

#new-entry {
  margin-left: 1%;
}

/* .col-width-small,
#ID,
#Zip,
#Phone,
#Email {
  max-width: 11%;
} */

.col-width-large {
  max-width: 25%;
}

.col-width-medium {
  max-width: 15%;
}

#submit-btn,
#cancel-btn {
  margin: 0 0.5% 0 2%;
}

.table {
  margin: 0;
}

#main-table {
  border-bottom: 1.5em solid #2479b5;
  border-radius: 5px;
}

:required::placeholder,
.form-control:required {
  color: rgb(197, 65, 65);
  font-weight: 700;
  text-align: left;
}

tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

option {
  color: #283838;
  font-size: 1em;
  font-weight: 500;
}

.table > tbody > tr > td {
  line-height: 40px;
}

/* Alternating background on tables for higher comfort */
tbody > tr:nth-child(odd) {
  background-color: #f0f0f5;
}

tbody > tr:nth-child(even) {
  background-color: #e0e0eb;
}

.modal-body,
.modal-body input,
select {
  background-color: #f0f0f5;
}

tbody > tr:hover {
  background-color: #d3e4f0;
}

thead,
th {
  /* text-align: center; */
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}

.input-field {
  line-height: 30px;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input,
.modal-select {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 60%;
  border-bottom: 1px solid #2479b5;
}

.modal-select {
  width: fit-content;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}
