/* Specific CSS rules */
/* ================================== */

.record-entry {
  margin: 1% 0 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

.event-view {
  border-top: 1.5em solid #2479b5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 0;
  margin-left: 0;
  padding: 1% 0.5%;
  background-color: #fff;
}

#filter-bloc {
  padding: 1.5% 0 0.5% 0;
  margin-bottom: 0.5%;
  border-radius: 5px;
}

#primary-select select,
#secondary-select select {
  margin-top: 0.3%;
  font-size: 1.1em;
  font-weight: 600;
  width: 18em;
  border-radius: 4px;
}

.filter-select {
  text-align: right;
  padding-right: 1%;
}

#roster-table > tbody {
  width: 95%;
  margin: auto;
  background-color: #fff;
}

#primary-select > .form-control {
  font-size: 1.1em;
  padding: 0.5%;
  font-weight: 600;
  margin-right: 0.3%;
  margin-top: 0.3%;
  width: 18%;
  height: 2.5em;
}

#filter-cancel-btn:hover,
#event-view-submit-btn:hover,
#event-view-cancel-btn:hover {
  box-shadow: 0 0 0 3px #d3e4f0;
}

#event-view-submit-btn,
.add-record-btn {
  margin: 0 12% 0 5%;
  width: 6em;
  font-size: 1.2em;
  font-weight: 500;
}

#filter-cancel-btn,
#event-view-cancel-btn {
  margin: 0 12% 0 5%;
  width: fit-content;
  font-size: 1.2em;
  font-weight: 500;
}

#main-table tbody > tr:hover,
.event-roster-table tbody > tr:hover {
  background-color: #d3e4f0;
}

/* Styling for event-view roster-view */
/* ================================== */

.sub-header {
  line-height: 30px;
  padding-top: 0.5%;
  padding-left: 5px;
  font-size: 1.1em;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event-roster-table {
  height: 230px;
  overflow-y: scroll;
}

.sub-header-title {
  text-align: right;
  line-height: 34px;
  padding-right: 1%;
  padding: bottom 0.5%;
  font-size: 1.2em;
  color: #fff;
}

.sub-header-labels {
  padding: 0 25px 0 0;
  margin-top: 0.5%;
  margin-left: -5px;
  margin-right: 0;
  text-align: left;
  border-bottom: 3px solid #2479b5;
}

.larger-font {
  font-size: 1.5em;
}

#fees-box,
#attended-box,
#Attended-box,
#FeesPaid-box {
  height: 20px;
  width: 20px;
  border-bottom: none;
  margin: 0;
  bottom: -10px;
}

/* .delete-msg {
  width: 480px;
  font-size: 1.4em;
  padding: 1%;
  color: rgb(197, 65, 65);
  border: 2px solid rgb(197, 65, 65);
  border-radius: 4px;
} */
