body {
  background-color: #f0e2d5;
}

.hero {
  margin: 1% 6%;
  padding: 0;
}

.record-entry {
  margin: 1% 0 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

#view-bloc {
  padding: 0 0 1% 0;
  border-radius: 5px;
}

/* Temporary Styling */
.event-view {
  border-top: 1.5em solid #2479b5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 0;
  margin-left: 0;
  padding: 1% 0.5%;
  background-color: #fff;
}

#sorting-bloc {
  padding: 0.5% 0%;
  height: 5%;
  margin-bottom: 2%;
}

.sort-select {
  height: 8%;
  margin-bottom: 1%;
}

#roster-table > tbody {
  width: 95%;
  margin: auto;
  background-color: #fff;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

#new-entry > .form-control,
#primary-select > .form-control {
  font-size: 1.1em;
  padding: 0.5%;
  font-weight: 600;
  margin-right: 0.3%;
  margin-top: 0.3%;
  width: 18%;
  height: 2.5em;
}

option {
  color: #333;
}

#new-entry {
  margin-left: 1%;
}

#new-entry > .form-control:focus,
#submit-btn:hover,
#cancel-btn:hover,
#filter-cancel-btn:hover,
#event-view-submit-btn:hover,
#event-view-cancel-btn:hover {
  box-shadow: 0 0 0 3px #d3e4f0;
}

.col-width-small {
  max-width: 11%;
}

.col-width-large {
  max-width: 25%;
}

.col-width-medium {
  max-width: 15%;
}

.buttons-bloc-new {
  margin-top: 0.7%;
}

#submit-btn,
#cancel-btn,
#event-view-submit-btn,
.add-record-btn {
  margin: 0 12% 0 5%;
  width: 5em;
  font-size: 1.2em;
  font-weight: 500;
}

#filter-cancel-btn,
#event-view-cancel-btn {
  margin: 0 12% 0 5%;
  width: fit-content;
  font-size: 1.2em;
  font-weight: 500;
}

.table {
  margin: 0;
}

#main-table {
  border-bottom: 1.5em solid #2479b5;
  border-radius: 5px;
}

:required::placeholder,
.form-control:required {
  color: rgb(197, 65, 65);
  font-weight: 700;
  text-align: left;
}

tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

option {
  color: #283838;
  font-size: 1em;
  font-weight: 500;
}

.table > tbody > tr > td {
  line-height: 40px;
}

#main-table tbody > tr:hover,
.event-roster-table tbody > tr:hover {
  background-color: #d3e4f0;
}

/* Alternating background on tables for higher comfort */
tbody > tr:nth-child(odd),
.event-roster-table {
  background-color: #f0f0f5;
}

tbody > tr:nth-child(even) {
  background-color: #e0e0eb;
}

.modal-body,
.modal-body input,
.modal-body select {
  background-color: #f0f0f5;
}

thead,
th {
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}

.input-field {
  line-height: 30px;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input,
.modal-select {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 60%;
  border-bottom: 1px solid #2479b5;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}

/* Styling for event-view roster-view */
.sub-header {
  line-height: 30px;
  padding-top: 0.5%;
  padding-left: 5px;
  font-size: 1.1em;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event-roster-table {
  height: 230px;
  overflow-y: scroll;
}

.sub-header-title {
  text-align: right;
  line-height: 34px;
  padding-right: 1%;
  padding: bottom 0.5%;
  font-size: 1.2em;
  color: #fff;
}

.sub-header-labels {
  padding: 0 25px 0 0;
  margin-top: 0.5%;
  margin-left: -5px;
  margin-right: 0;
  text-align: left;
  border-bottom: 3px solid #2479b5;
}

.larger-font {
  font-size: 1.5em;
}

#fees-box,
#attended-box,
#Attended-box,
#FeesPaid-box {
  height: 20px;
  width: 20px;
  border-bottom: none;
  margin: 0;
  bottom: -10px;
}

.delete-msg {
  width: 480px;
  font-size: 1.4em;
  padding: 1%;
  color: rgb(197, 65, 65);
  border: 2px solid rgb(197, 65, 65);
  border-radius: 4px;
}
