body {
  background-color: #f0e2d5;
}

.dark-blue-bg {
  background-color: #1d6294;
}

.hero {
  margin-top: 5px;
  padding: 0 0 1% 0;
  border-width: 6px 3px;
}

.source-entry {
  margin: 1% 0 0 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-bottom: 8px solid #f0e2d5;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

#new-source > .form-control {
  color: #2479b5;
  font-size: 1.2em;
  padding: 0.5%;
}

#new-source {
  margin-left: 3%;
}

#fiscal-year {
  width: 60px;
}

#amount,
#start,
#end {
  width: 100px;
}

:required::placeholder {
  color: rgb(197, 65, 65);
}

tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

tbody > tr:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}
