body {
  background-color: #f0e2d5;
}

.dark-blue-bg {
  background-color: #1d6294;
}

.hero {
  margin-top: 5px;
  padding: 0 0 1% 0;
  border-width: 6px 3px;
}

.source-entry {
  margin: 1% 0 2% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

#new-source > .form-control {
  font-size: 1.1em;
  padding: 0.5%;
  font-weight: 600;
  margin-right: 0.3%;
}

option {
  color: #333;
}

#new-source {
  margin-left: 1%;
}

.col-width-small {
  max-width: 11%;
}

.col-width-large {
  max-width: 25%;
}

.col-width-medium {
  max-width: 15%;
}
.red-text {
  font-weight: 700;
}

:required::placeholder,
.form-control:required,
.delete-msg {
  color: rgb(197, 65, 65);
  font-weight: 700;
  text-align: left;
}

.view-sources {
  padding-bottom: 2%;
  border-radius: 5px;
}
tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

.table > tbody > tr > td {
  line-height: 40px;
}

td {
  text-align: center;
}

td:nth-child(2),
td:last-child {
  text-align: left;
}

tbody > tr:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}

.purpose {
  max-width: 200px;
}

.date {
  max-width: 80px;
  text-align: center;
  font-size: 14px;
}

.FiscalYear {
  max-width: 60px;
  text-align: center;
}

.input-field {
  line-height: 30px;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 60%;
  border-bottom: 1px solid #2479b5;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}

.delete-msg {
  width: fit-content;
  border-bottom: 2px solid rgb(197, 65, 65);
}
