body {
  background-color: #f0e2d5;
}

.dark-blue-bg {
  background-color: #1d6294;
}

.hero {
  margin-top: 5px;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 6px 3px;
}

.source-entry {
  padding-top: 2%;
  width: 100%;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 0.5%;
}

#new-source > .form-control {
  color: #2479b5;
  font-size: 1.2em;
  padding: 0.5%;
}

#new-source {
  margin-left: 3%;
}

#fiscal-year {
  width: 60px;
}

#amount,
#start,
#end {
  width: 100px;
}

:required::placeholder {
  color: rgb(197, 65, 65);
  text-align: center;
}
