body {
  background-color: #f0e2d5;
}

.hero {
  margin: 1% 6%;
  padding: 0;
  border-radius: 5px;
  z-index: -500;
}

.site-entry {
  margin: 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

.view-bloc {
  padding: 0 0 1% 0;
  border-radius: 5px;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

#new-entry > .form-control {
  font-size: 1.1em;
  padding: 0.5%;
  font-weight: 600;
  margin-right: 0.3%;
  margin-top: 0.3%;
  height: 2.5em;
}

option {
  color: #333;
}

#new-entry {
  margin-left: 1%;
}

.col-width-small,
#Zip,
#Telephone {
  max-width: 11%;
}

.col-width-large {
  max-width: 25%;
}

.col-width-medium {
  max-width: 15%;
}

#submit-btn,
#cancel-btn {
  margin: 0 0.5% 0 2%;
}

.table {
  margin: 0;
}

#main-table {
  border-bottom: 1.5em solid #2479b5;
  border-radius: 5px;
}

:required::placeholder,
.form-control:required,
.delete-msg {
  color: rgb(197, 65, 65);
  text-align: left;
  font-weight: 700;
}

tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

.table > tbody > tr > td {
  line-height: 40px;
}

tbody > tr:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}

.input-field {
  line-height: 30px;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input,
.input-field > select {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 60%;
  border-bottom: 1px solid #2479b5;
}

.modal-select,
#new-select {
  margin-top: 0.5%;
  font-size: 1.3em;
  line-height: 50px;
  font-weight: 700;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #2479b5;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}
