body {
  background-color: #f0e2d5;
}

.dark-blue-bg {
  background-color: #1d6294;
}

.hero {
  margin-top: 5px;
  padding: 0 0 1% 0;
  border-width: 6px 3px;
  border-radius: 5px;
}

.site-entry {
  margin: 1% 0 1% 0;
  padding: 0 0 1% 0;
  width: 100%;
  border-radius: 5px;
}

.data-view {
  border-radius: 5px;
  padding-bottom: 2%;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

#new-site > .form-control {
  color: #2479b5;
  font-size: 1.2em;
  padding: 0.5%;
  margin: 5px 2px;
}

#State,
#Zip {
  max-width: 100px;
}

#County {
  max-width: 200px;
}
#Telephone,
#Email {
  max-width: 150px;
}

#new-site {
  margin-left: 3%;
}

#submit-btn,
#cancel-btn {
  margin-left: 1%;
}

.new-record {
  background-color: #b3f1cc;
}

:required::placeholder,
.delete-msg {
  color: rgb(197, 65, 65);
  text-align: left;
}

#submit-btn {
  margin-left: 2%;
}

tbody {
  background-color: #fff;
  color: #283838;
  font-size: 1.2em;
  font-weight: 600;
}

.table > tbody > tr > td {
  line-height: 40px;
}

tbody > tr:hover {
  background-color: #d3e4f0;
}

.table > tbody > tr > .cell-data {
  line-height: 25px;
}

.county,
.csd,
.cpd,
.cd,
.ad,
.sd {
  max-width: 80px;
  text-align: center;
  font-size: 14px;
}

.small-cell {
  max-width: 80px;
}

.email,
.phone,
.site-id {
  width: 100px;
  text-align: center;
  font-size: 14px;
}

.cpd {
  margin-left: 4px;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}

.input-field {
  line-height: 30px;
}

.input-field > label {
  width: 25%;
  font-size: 1.2em;
}

.input-field > input,
.input-field > select {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  width: 60%;
  border-bottom: 1px solid #2479b5;
}

.modal-select,
#new-select {
  margin-top: 0.5%;
  font-size: 1.3em;
  line-height: 50px;
  font-weight: 700;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #2479b5;
}

.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}
