/* =============================== */
/* Specific CSS rules              */
/* =============================== */

/* Sub Nav Bar                     */
/* =============================== */
#sub-nav a {
  font-size: 0.7em;
  line-height: 2em;
}

/* Modal view                      */
/* =============================== */
.required-text {
  font-size: 1em;
  margin-top: 1%;
  font-weight: 500;
}

.light-red-text {
  color: rgb(246, 133, 133);
}

/* Main display                     */
/* =============================== */
.student-display {
  text-align: initial;
  max-width: 83%;
  background-color: #f0f0f5;
  font-size: 0.8em;
  margin-right: auto;
  margin-left: auto;
}

.sub-header {
  line-height: 30px;
  padding-left: 5px;
  font-size: 1em;
  font-weight: 600;
  border-top: 2px solid #fff;
}

.sub-header-title {
  text-align: right;
  padding-right: 1%;
  color: #fff;
  margin-bottom: 1%;
}

.input-field > label {
  font-size: 0.85em;
}

.form-group {
  line-height: 1.7vh;
}

.form:not(#edit-form):hover {
  background-color: #d3e4f0;
}
.form input:disabled,
.form select:disabled {
  background-color: inherit;
}
.form input:disabled {
  color: rgb(120, 120, 120);
}

/* Multiple select sections */
.funding-form .input-field > .modal-select {
  width: fit-content;
}

/* Tables */
.table > thead > tr > th {
  color: #2479b5;
  font-weight: 600;
  font-size: 0.75em;
}
.table > tbody > tr > td {
  font-weight: 600;
  font-size: 0.7em;
  line-height: 1.3em;
}
.table > tbody > tr:hover {
  background-color: inherit;
}
.children-table input {
  text-align: right;
  width: 40%;
}

/* Parent section */
.parent label {
  width: 69%;
}
.parent select {
  width: 8%;
}

/* Population section */
.population .modal-select[name="population"] {
  width: 90%;
}

/* Barriers section */
.barriers .modal-select[name="barrier"] {
  width: 90%;
}

/* Funding form */
.funding-form {
  max-height: 13vh;
  overflow-y: auto;
  overflow-x: hidden;
}
