.outcome-entry {
  margin: 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

#new-entry #Description {
  width: 60%;
}

.data-view {
  border-radius: 5px;
}

.main-header {
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-right: -15px;
  padding-left: 0px;
  margin: 0px;
  width: inherit;
}

.category-header {
  padding-left: 2.5%;
}

.description-header {
  padding-left: 3.5%;
}

.outcome-view:hover {
  background-color: #d3e4f0;
}

#view-bloc {
  background-color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  text-indent: 4px;
  line-height: 2.5em;
  border-bottom: 1.5em solid #2479b5;
}
.card {
  margin: 0;
  background-color: #f5f5f5;
  font-size: 1em;
  /* line-height: 2.1em; */
  border-bottom: 2px solid #2479b5;
}

.description-view {
  font-size: 1.1em;
  font-weight: 400;
}

.outcome-view {
  text-indent: 1em;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.outcome-view:last-child {
  border-bottom: none;
}

#filter-bloc {
  margin-bottom: 0.5%;
  padding-top: 0.8em;
}

.filter-select {
  padding-left: 1.1em;
  max-width: 12%;
}
