.personnel-entry,
.personnel-search {
  margin: 1% 0 1% 0;
  padding: 1% 0 1% 0;
  width: 100%;
  border-radius: 5px;
}

.year-started {
  text-align: center;
}

.data-view {
  border-radius: 5px;
  padding-bottom: 1%;
}

#search-input {
  margin-left: 3%;
  width: 60%;
  font-size: 1.2em;
}

#search-input::placeholder {
  font-size: 1.2em;
  color: #1d6294;
}

#search-form {
  text-align: center;
}

#add-new-member {
  text-align: center;
  cursor: pointer;
}

#new-entry .hidden {
  display: none;
}

.table-body > tr:hover,
.history-body > tr:hover,
.non-instructional-hours-body > tr:hover,
.progress-contact-body > tr:hover {
  background-color: #d3e4f0;
}

.person-main,
.bloc-history-proDev {
  background-color: #f5f5f5;
}

.email {
  width: 80px;
}

.partner-manager {
  width: 100px;
}
.checkbox-field {
  line-height: 35px;
}

.checkbox-field > label {
  width: 35%;
  font-size: 1.2em;
}

.checkbox-field > input {
  width: 20px;
  height: 20px;
}

#PersWorkState-view,
#PersHomeState-view,
#PersWorkZip-view,
#PersHomeZip-view {
  width: 32%;
}
