body {
  background-color: #f0e2d5;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
}

.hero {
  margin-top: 5px;
  padding: 0 0 1% 0;
  border-width: 6px 3px;
}

.personnel-entry,
.personnel-search {
  margin: 1% 0 1% 0;
  padding: 1% 0 1% 0;
  width: 100%;
  border-radius: 5px;
}

.year-started {
  text-align: center;
}

.data-view {
  border-radius: 5px;
  padding-bottom: 1%;
}

#search-input {
  margin-left: 3%;
  width: 60%;
  font-size: 1.2em;
}

#search-input::placeholder {
  font-size: 1.2em;
  color: #1d6294;
}

#search-form {
  text-align: center;
}

#add-new-member {
  text-align: center;
  cursor: pointer;
}

#new-personnel > input,
#new-personnel > select {
  margin: 0.5%;
}

#new-personnel .hidden {
  display: none;
}

.label-text {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 0.5% 0.5%;
}

.new-record {
  background-color: #b3f1cc;
}

#new-personnel > .form-control {
  font-size: 1.2em;
  padding: 0.5%;
}

#new-personnel {
  margin-left: 3%;
}

#submit-btn,
#cancel-btn {
  margin-left: 1%;
}

:required::placeholder,
.delete-msg {
  color: rgb(197, 65, 65);
  text-align: left;
  font-size: 1.2em;
}

#submit-btn {
  margin-left: 2%;
}

tbody {
  background-color: #fff;
  color: #333333;
  font-size: 1.2em;
  font-weight: 600;
}

.history-body > tr:hover,
.non-instructional-hours-body > tr:hover,
.progress-contact-body > tr:hover {
  background-color: #d3e4f0;
}

thead,
th {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 35px;
  color: #fff;
}

.table > tbody > tr > .cell-data {
  line-height: 30px;
}

.small-cell {
  max-width: 80px;
}

.medium-cell {
  max-width: 120px;
}

.phone,
.partner-id {
  width: 110px;
  text-align: center;
  font-size: 14px;
}

.email {
  width: 80px;
}

.partner-manager {
  width: 100px;
}

.input-field,
.checkbox-field {
  line-height: 35px;
}

.input-field > label {
  width: 25%;
  font-size: 1.1em;
}

.checkbox-field > label {
  width: 35%;
  font-size: 1.2em;
}

.checkbox-field > input {
  width: 20px;
  height: 20px;
}

.input-field > input,
.input-field > select {
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  text-indent: 4px;
  line-height: 2.5em;
  width: 72%;
  border-bottom: 1px solid #2479b5;
}

.modal-select,
#new-select {
  margin-top: 0.5%;
  font-size: 1.3em;
  line-height: 35px;
  font-weight: 700;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #2479b5;
}

#PersWorkState-view,
#PersHomeState-view,
#PersWorkZip-view,
#PersHomeZip-view {
  width: 32%;
}
