.personView {
  background-color: #fff;
  padding-bottom: 0.5%;
  border-bottom: 5px solid #1d6294;
}

.sub-header {
  line-height: 30px;
  padding-left: 5px;
  font-size: 1.1em;
  font-weight: 700;
  border-top: 2px solid #fff;
}

.bloc-perso,
.bloc-instr-hours {
  border-right: 4px solid #1d6294;
}

.bloc-instr-hours,
.bloc-nonInstr-hours {
  border-top: 5px solid #1d6294;
}

.bloc-adrs .input-field {
  padding-left: 10px;
}

.history-table,
.proDev-table,
.instructional-hours-table {
  max-height: 205px;
  overflow-y: scroll;
}

.bloc-hours {
  padding: 0;
}
.non-instructional-hours-table {
  max-height: 190px;
  overflow-y: scroll;
  text-align: center;
}

.total-hours {
  border: 1px solid #d3e4f0;
}

.history-cell,
.proDev-cell {
  font-size: 0.9em;
  line-height: 20px;
}

.bloc-proDev-workshop,
.bloc-proDev-category,
.bloc-proDev-hrs,
.bloc-proDev-attended {
  padding: 0;
}

.bloc-proDev-category,
.bloc-proDev-attended {
  margin-left: -10px;
}

.sub-header-title {
  text-align: right;
  line-height: 22px;
  padding-right: 1%;
  color: #fff;
  border-bottom: 1px solid #d3e4f0;
}

.proDev-hours-view {
  line-height: 2em;
  padding: 0 5px 0 5px;
}
.proDev-hours {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}
