/* Specific CSS rules */
/* ================================== */

.record-entry {
  margin: 1% 0 1% 0;
  padding: 0 0 2% 0;
  width: 100%;
  border-radius: 5px;
}

#filter-bloc {
  padding: 1.5% 0 0.5% 0;
  margin-bottom: 0.5%;
  border-radius: 5px;
}

#primary-select select,
#secondary-select select,
#fiscal-year-select select {
  margin-top: 0.3%;
  font-size: 1.1em;
  font-weight: 600;
  width: 13em;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #1d6294;
}

#secondary-select {
  padding-right: 0;
  padding-left: 0;
}

.filter-select {
  text-align: right;
  padding-right: 1%;
}

#filter-cancel-btn,
#filter-apply-btn,
#add-student-btn {
  margin: 0 0.5% 0 2%;
  width: 7em;
  font-size: 1.2em;
  font-weight: 500;
}

.course-details {
  background-color: #f5f5f5;
  border-bottom: 1.5em solid #2479b5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Enrollment View */
/* =========================================== */

#enrollment-bloc,
#main-banner {
  padding-right: 0px;
  padding-left: 0px;
}

#main-banner {
  margin: 1.5% 0%;
}

/* MainInfo bloc */
/* =========================================== */
.sub-header {
  line-height: 30px;
  padding-left: 5px;
  font-size: 1.1em;
  font-weight: 700;
  border-top: 2px solid #fff;
}

.sub-header-title {
  text-align: right;
  line-height: 34px;
  padding-right: 1%;
  font-size: 1.1em;
  color: #fff;
}

.main-info {
  margin: 0% 0% 2% 0%;
  background-color: #f5f5f5;
}

.field-bloc {
  padding-top: 3%;
}

.field-bloc:hover {
  background-color: #d3e4f0;
}

.add-record-btn,
.save-record-btn,
.edit-record-btn,
#event-view-cancel-btn,
#event-view-submit-btn {
  height: 28px;
  margin-top: 2px;
  line-height: 16px;
  width: fit-content;
  font-size: 1.1em;
  font-weight: 700;
}

#event-view-submit-btn {
  margin-left: 3%;
}

.input-field input,
.input-field select {
  background-color: inherit;
}

.buttons-bloc-new {
  margin: 0 0 0 0;
  padding: 0.5% 0;
  max-height: 3em;
  border-radius: 0 0 5px 5px;
}

/* Funding bloc */
/* =========================================== */
.funding-bloc {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 5%;
}
.funding-checkboxes {
  padding-left: 3%;
  line-height: 1.8em;
  font-size: 1.2em;
}

.sub-blocs {
  max-height: 11em;
  overflow-y: scroll;
}
.checkbox label {
  padding-left: 1.5em;
}
.checkbox input[type="checkbox"] {
  width: 1em;
  height: 1em;
  margin-left: -2em;
  margin-bottom: -1em;
}

.left-bloc,
.right-bloc {
  padding-left: 1%;
}

/* Schedule bloc */
/* =========================================== */
.schedule-body > tr:hover {
  background-color: #f5f5f5;
}

#schedule > table > tbody > tr > td {
  padding: 0px;
}

.blank-bloc,
.weekday {
  background-color: #d3e4f0;
  color: #1d6294;
  font-size: 1em;
}

.schedule-cell {
  font-size: 0.8em;
  font-weight: 600;
  padding: 0px;
  padding-left: 0.3em;
}

.schedule-input {
  font-size: 1em;
  padding-left: 0.3em;

  line-height: 20px;
  max-width: 4.5em;
  border: 0;
  background-color: #f5f5f5;
}

.schedule-table tr,
.instructors-table tr {
  line-height: 1em;
  font-size: 1em;
  padding: 0px;
}

/* Recommended */
/* =========================================== */

.recommended-fields {
  padding-left: 0px;
}

.recommended-title {
  text-align: center;
  padding: 0.3%;
  font-size: 1.3em;
  font-weight: 600;
  margin: 1.5% 0;
}

.separation {
  line-height: 0.5em;
  /* border: 3px solid #d3e4f0; */
  border: 3px solid #2479b5;
  margin: 3% 0;
}

.sub-header-bloc,
.special-prog-bloc {
  padding-right: 0px;
  margin-right: 0px;
}

.bloc-special-program-program {
  padding-right: 0px;
  padding-left: 1.8%;
}

.bloc-special-program-description {
  padding-right: 0px;
  padding-left: 6.5%;
}

.sub-header-labels {
  padding: 0px;
  margin-left: -5px;
  margin-right: 0px;
}

#special-program {
  padding-right: 0px;
  padding-left: 1.2%;
}

.special-program-table {
  height: 13em;
  overflow-y: scroll;
}

/* Instructors */
/* =========================================== */
.AssignDate {
  width: 25%;
}

.instructors-table {
  height: 11em;
  overflow-y: scroll;
}

.bloc-instructors-date-assigned {
  padding-left: 0.6em;
}

.bloc-instructors-instructors {
  padding-left: 0px;
}

/* Additional Info */
/* =========================================== */

.additional-bloc {
  padding-left: 0px;
  padding-right: 0px;
}

.instructors-table {
  margin-bottom: 3em;
}

.AssignDate {
  width: 24%;
}

/* Projected Sces */
/* =========================================== */

.projected-bloc {
  padding-bottom: 2%;
}
