body {
  background-color: #f0e2d5;
}

.hero {
  background-color: #f0f0f5;
  margin-top: 2%;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 2em 0;
  border-radius: 5px;
}

.quarter-bloc {
  padding: 0 2%;
}

.table-row {
  line-height: 45px;
  color: #283838;
}

.separation {
  border-bottom: 2px solid #d3e4f0;
  margin: 3% 0;
}
.row-label {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 45px;
}

.row-data {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 45px;
  border-bottom: 1px solid #2479b5;
}

#top-bloc:hover,
#bottom-bloc:hover {
  background-color: #d3e4f0;
}

label {
  width: 25%;
  font-size: 1.1em;
}

.input-field > input,
.input-field > select {
  font-size: 1.4em;
  font-weight: 400;
  border: none;
  text-indent: 0.5%;
  width: 60%;
  line-height: 45px;
  border-bottom: 1px solid #2479b5;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

.modal-select {
  /* font-size: 1.4em;
  line-height: 50px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #2479b5; */
}
.modal-header,
.modal-footer {
  background-color: #d3e4f0;
}
