/* Specific CSS rules */
/* ================================= */

.hero {
  width: 68%;
  line-height: 2.5em;
}
tbody {
  background-color: #f0f0f5;
}
.quarter-bloc {
  padding: 0 2%;
}
#top-bloc,
#bottom-bloc {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.separation {
  border-bottom: 2px solid #d3e4f0;
  margin: 3% 0;
}
.row-label {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 45px;
}
.row-data {
  border-bottom: 1px solid #2479b5;
}
#top-bloc:hover,
#bottom-bloc:hover {
  background-color: #d3e4f0;
}
label {
  width: 25%;
  font-size: 1.1em;
}
.input-field > input,
.input-field > select {
  border-bottom: 1px solid #2479b5;
  margin-bottom: 0;
}
.form-group {
  margin-bottom: 0;
}
/* Media queries
 =========================== */
/* 27" monitor */
@media screen and (width>=2200px) {
  body {
    font-size: 26px;
  }
  .link-panel {
    width: 65%;
  }
  .welcome-info {
    height: 12%;
    font-size: 1.4em;
  }
  .top-section {
    height: 13%;
    font-size: 1.2em;
  }
  .footer-logos,
  .top-section {
    width: 65%;
  }
  .hero {
    line-height: 3em;
    margin: 4% auto;
  }
  .user-info {
    padding-top: 2em;
  }
  #menu-btn {
    font-size: 1.8em;
  }
}
/* 15" laptop */
@media screen and (1590px<width<2200px) {
  body {
    font-size: 18px;
  }
  .link-panel {
    width: 61%;
  }
}
/* 13" XPS laptop */
@media screen and (width<1590px) {
  .hero {
    height: 62%;
  }
}
