/* =============================== */
/* Specific CSS rules  */
/* =============================== */

/* Search bar */
/* =============================== */
.student-search {
  margin: 1% 0 1% 0;
  padding: 1% 0 1% 0;
  width: 100%;
  border-radius: 5px;
  font-size: 1.1em;
}

#search-input {
  margin-left: 3%;
  width: 60%;
}

.search-title {
  font-size: 0.8em;
  text-align: left;
  padding: 0% 0% 1% 1%;
}

/* Sub Nav Bar */
/* =============================== */
#sub-nav a {
  font-size: 0.7em;
  line-height: 2em;
}

/* Summary display */
/* =============================== */
.student-display {
  text-align: initial;
  max-width: 83%;
}

.page-title {
  line-height: 2em;
  font-size: 1.1em;
  font-weight: 700;
  padding-left: 1%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
