/* Specific CSS rules */
/* ================================== */

.hero {
  background-color: #f0f0f5;
  margin: 2% auto;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 2em 0;
}

/* Main text */
/* ================================== */

/* .main-text {
  border: 3px solid #2479b5;
}
*/

.main-text {
  box-sizing: border-box;
  /* font-family: "Permanent Marker", cursive;
*/
  font-size: 3em;
}
/* Index card */
/* ================================== */

.card {
  font-family: "Permanent Marker", cursive;
  /* font-size: 2em; */

  background-color: white;
  background-image: linear-gradient(
      180deg,
      white 6rem,
      #f0a4a4 calc(6rem),
      #f0a4a4 calc(6rem + 2px),
      transparent 1px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 5rem,
      #ddd 1px,
      #ddd calc(5rem + 1px)
    );
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  height: 45vh;
  width: 70vh;
  margin: auto;
  position: relative;
  padding: 0% 2%;
  top: 60%;
  transform: translate(20%, 30%);
}

.card-head {
  font-size: 16px;
}

.text-card {
  display: block;
  /* padding-top: 3%; */
  color: red;
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}
