/* Specific CSS rules */
/* ================================== */

.hero {
  background-color: #f0f0f5;
  margin: 2% auto;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 2em 0;
}

/* Top section */
/* ================================== */

.main-logo {
  float: right;
  padding-left: 16%;
}

.help-mark {
  font-size: 1.5em;
  font-weight: 800;
  padding-right: 9%;
}

#help-link {
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
}

.glyphicon-log-out {
  padding-right: 7%;
}

.welcome-text {
  font-weight: 600;
}

.user-info {
  color: #333;
  text-align: inherit;
  margin-top: -0.6%;
}

/* Main text */
/* ================================== */

.main-body {
  box-sizing: border-box;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

/* Index card */
/* ================================== */

.card-block {
  width: 45vw;
  height: 50vh;
  background-color: #f0f0f5;
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10% 0% 0% 35%;
}

.card-text:first-of-type,
.card-text:last-of-type {
  padding-top: 5%;
}

.card-text {
  padding-right: 3%;
  padding-left: 3%;
}

.large-num {
  font-size: 1.2em;
  color: #3f8fc7;
}

.chevron {
  border-radius: 50%;
  font-size: 0.7em;
  margin-top: 1%;
}

.here-btn {
  font-size: 0.6em;
  font-weight: 600;
}

.button-block {
  margin: 1.5% 0% 0% 80%;
}
