/* Specific CSS rules */
/* ================================== */

.hero {
  background-color: #f0f0f5;
  margin: 2% auto;
  padding-bottom: 1%;
  border: solid #2479b5;
  border-width: 2em 0;
}

/* Top section */
/* ================================== */

.main-logo {
  float: right;
  padding-left: 16%;
}

.help-mark {
  font-size: 1.5em;
  font-weight: 800;
  padding-right: 9%;
}

#help-link {
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
}

.glyphicon-log-out {
  padding-right: 7%;
}

.welcome-text {
  font-weight: 600;
}

.user-info {
  color: #333;
  text-align: inherit;
  margin-top: -0.6%;
}

/* Main text */
/* ================================== */

.main-body {
  box-sizing: border-box;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

/* Index card */
/* ================================== */

.card-block {
  width: 45vw;
  height: 50vh;
  position: relative;
  background-color: #f0f0f5;
  border: 3px solid #aaa;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 7% 0% 0% 35%;
}

.cards {
  display: none;
  width: 75%;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 43%;
  width: auto;
  padding: 1%;
  color: #aaa;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.3s ease;
  border-radius: 20%;
  user-select: none;
}

.next {
  right: 1%;
}

.prev {
  left: 1%;
}

.prev:hover,
.next:hover {
  background-color: #999;
  color: white;
  text-decoration: none;
}

.btn-numbers {
  margin: 2% 0% 0% 35%;
}

.dot {
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  margin: 0 2px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.quick-link {
  font-size: 1.7em;
}

.active,
.dot:hover {
  background-color: #717171;
  color: #f0f0f5;
}

.card-text:first-of-type,
.card-text:last-of-type {
  padding-top: 5%;
}

.card-text {
  padding-right: 3%;
  padding-left: 3%;
}

.large-num {
  font-size: 1.2em;
  color: #3f8fc7;
}
